// Colors
$white: #fff;
$black: #000;
$nav-text: #212529;
$text-color: #6c757d;
$heading-line: #d0d0d0;
$project-link: #147efb;
$input-border: #ced4da;
$input-text: #495057;
$footer-text: #6c757d;
$footer-background: #f8f9fa;
$navbar-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
$img-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

$navbar-padding: 3.5rem;
